body {
	background-color: #f0f0f0;
	font-family: sans-serif;
	text-align: center;
}

h1 {
	color: #e60073;
}

button {
	background-color: #e60073;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}